.wrapper {
  display: flex;
  justify-content: space-between;
}

/* 'padding' is to allow space for the top menu.
'minHeight' is screenheight - 200 because PageFooter is 200 */
.page {
  min-height: calc(100vh - 75px);
  margin-top: 40px;
}

.h1-sui {
  margin-top: 3em;
}

.h2-sui {
  margin: 4em 0em 2em;
}

.h3-sui {
  margin-top: 2em;
  padding: 2em 0em;
}

.last-sui {
  margin-bottom: 300px;
}

.button-ui {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
