.wrapper {
  display: flex;
  justify-content: space-between;
}

.text-container {
  margin-top: 1em;
  margin-left: 28vw;
  margin-right: 28vw;
}

.handcursor {
  cursor: url("icons8-cursor-28.png"), auto;
}

.researcher {
  padding-top: 3em;
}
